<md-toolbar>
  <button md-icon-button [md-menu-trigger-for]="menu">
    <md-icon>more_vert</md-icon>
  </button>
  <md-menu  #menu="mdMenu">
    <a md-menu-item routerLink="/retailer">retailer</a>
    <a md-menu-item routerLink="/insurer">insurer</a>
    <a md-menu-item routerLink="/customer">customer</a>
    <a md-menu-item routerLink="/service">service</a>
  </md-menu>


  <span>
    {{title}}
  </span>

  <!-- This fills the remaining space of the current row -->
  <span class="example-fill-remaining-space"></span>



</md-toolbar>

<router-outlet></router-outlet>
